<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="https://i.pinimg.com/736x/ca/b0/25/cab025c88545173275486f9899e6479a--samosas-delicious-food.jpg">
      <img src="img/foodone.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit culpa, quaerat quidem impedit vero illo. Reprehenderit corrupti deserunt, repellat iste natus quisquam quam quaerat, veniam, quis optio vel enim dignissimos.</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="https://i.pinimg.com/736x/e4/17/b0/e417b0d769dc831b4e443ae74a8f06e0--naan-delicious-food.jpg">
      <img src="img/foodtwo.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis veritatis ipsa vel provident accusantium unde neque iure doloribus distinctio suscipit? Sint dolorum natus totam quas dolores odio delectus ad aliquid?</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="https://s-media-cache-ak0.pinimg.com/originals/0b/39/b4/0b39b41287b59374095819ecbc0c61dc.jpg">
      <img src="img/foodthree.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit culpa, quaerat quidem impedit vero illo. Reprehenderit corrupti deserunt, repellat iste natus quisquam quam quaerat, veniam, quis optio vel enim dignissimos.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="https://wpr-public.s3.amazonaws.com/wprorg/styles/small/s3/segments/Spanish-Chickpeas-and-Rice-bowl-close.jpg?itok=7hLsvA70">
      <img src="img/foodfour.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis veritatis ipsa vel provident accusantium unde neque iure doloribus distinctio suscipit? Sint dolorum natus totam quas dolores odio delectus ad aliquid?</div>
  </div>
</div>

<div class="clearfix"></div>

<!-- add more pictures to the gallery -->